# Authentication secrets
TRIGGER_SECRET_KEY=""
NEXTAUTH_SECRET=""
NEXTAUTH_URL=""

# Database
DATABASE_URL=""

# Redis
REDIS_URL=""

# GitHub OAuth
GITHUB_ID=""
GITHUB_SECRET=""

# Google OAuth
GOOGLE_ID=""
GOOGLE_SECRET=""